<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-8 col-lg-12 px-5 px-sm-0 mx-auto">
      <h1>投稿編集画面</h1>

      <% if @post.errors.any? %>
        <div class="error_explanation">
        <% if @post.errors.count >= 2 %>
        <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
        <% else %>
        <h3><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
        <% end %>
        <ul>
        <% @poat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
        </div>
      <% end %>
  <%= form_with model: @post, url:post_path, method: :patch do |f| %>
    <div class="text-left m-3">
      <h4>コース名</h4>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="text-left m-3">
      <h4>本文</h4>
      <%= f.text_area :article, required: true %>
    </div>
    <div class="text-left m-3">
      <h4>画像</h4>
      <%= f.file_field :image, accept: "image/*", required: true %><!-- acceptで画像だけのファイル投稿 -->
    </div>
    <div class="text-left m-3">
      <h4>コースがある都道府県</h4>
      <%= f.select :prefecutures, Course.prefecutures.keys, {}, required: true %>
    </div>
    <div class="text-left m-3">
      <h5>コースの起伏</h5>
    </div>
    <div class="form-group row m-3 text-center">
      <div class="border border-success  p-3">
        <%= f.label :undulation, '少ない' %>
        <%= f.radio_button :undulation, :few, required: true %>
      </div>
      <div class="border border-success text-center p-3">
        <%= f.label :undulation, 'やや少ない' %>
        <%= f.radio_button :undulation, :little, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :undulation, '普通' %>
        <%= f.radio_button :undulation, :usually, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :undulation, 'やや多い' %>
        <%= f.radio_button :undulation, :lot, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :undulation, '多い' %>
        <%= f.radio_button :undulation, :many, required: true %>
      </div>
    </div>
    <div class="text-left m-3">
      <h5>信号機の量</h5>
    </div>
    <div class="form-group row m-3 text-center">
      <div class="border border-success  p-3">
        <%= f.label :traffic_light, '少ない' %>
        <%= f.radio_button :traffic_light, :few, required: true %>
      </div>
      <div class="border border-success text-center p-3">
        <%= f.label :traffic_light, 'やや少ない' %>
        <%= f.radio_button :traffic_light, :little, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :traffic_light, '普通' %>
        <%= f.radio_button :traffic_light, :usually, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :traffic_light, 'やや多い' %>
        <%= f.radio_button :traffic_light, :lot, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :traffic_light, '多い' %>
        <%= f.radio_button :traffic_light, :many, required: true %>
      </div>
    </div>
    <div class="text-left m-3">
      <h5>街灯の量</h5>
    </div>
    <div class="form-group row m-3 text-center">
      <div class="border border-success  p-3">
        <%= f.label :street_light, '少ない' %>
        <%= f.radio_button :street_light, :few, required: true %>
      </div>
      <div class="border border-success text-center p-3">
        <%= f.label :street_light, 'やや少ない' %>
        <%= f.radio_button :street_light, :little, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :street_light, '普通' %>
        <%= f.radio_button :street_light, :usually, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :street_light, 'やや多い' %>
        <%= f.radio_button :street_light, :lot, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :street_light, '多い' %>
        <%= f.radio_button :street_light, :many, required: true %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="text-center">
        <div class="row">

        </div>

      </div>
    </div>
      <div class="col-md-12">
      <div class="text-left m-5">
        <h4>コースの概算距離</h4>
        <%= f.text_field :distance, required: true %><span>km</span>
      </div>

      <div class="text-center m-3">
        <h3>コースの詳細について以下の情報を任意で入力してください。</h3>
      </div>
      <div class="text-center">
        <div class="text-left">
          <h5>コース路面の種類</h5>
        </div>
        <div class="row form-group">
          <% CourseType.types.each_with_index do |e, i| %>
          <div class="border border-success p-3 m-2">
            <%= CourseType.types_i18n[e[0]] %>
            <%= check_box_tag "course_type[type]", e[0]  %>
          </div>
          <% end %>
        </div>
        <div class="text-left">
          <h5>おすすめの時間帯</h5>
        </div>
        <div class="row form-group">
          <% CourseTimeZone.time_zones.each_with_index do |e, i| %>
          <div class="border border-success p-3 m-2">
            <%= CourseTimeZone.time_zones_i18n[e[0]] %>
            <%= check_box_tag "course_method[method]", e[0]%>
          </div>
          <% end %>
        </div>
        <div class="text-left">
          <h5>付近にある設備</h5>
        </div>
        <div class="row form-group">
          <% CourseEquipment.equipment.each_with_index do |e, i| %>
          <div class="border border-success p-3 m-2">
            <%= CourseEquipment.equipment_i18n[e[0]] %>
            <%= check_box_tag "course_equipment[equipment]", e[0]  %>
          </div>
          <% end %>
        </div>
        <div class="text-left">
          <h5>おすすめの運動の仕方</h5>
        </div>
        <div class="row form-group">

          <% CourseMethod.methods.each_with_index do |e, i| %>
          <div class="border border-success p-3 m-2">
            <%= CourseMethod.methods_i18n[e[0]] %>
            <%= check_box_tag "course_method[method]", e[0]  %>
          </div>
          <% end %>
        </div>
    <div class="text-center">
      <%= f.submit '更新', class: "btn btn-success" %>
    </div>
    <!--<% end %> form_with-->
      <div class="row p-5">
        <%= link_to "詳細画面に戻る", post_path(@post.post_id), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>