<div class="container">
  <div class="col-md-8">
    <%= form_with model: @post, url:posts_path do |f| %>
    <%= f.fields_for :course do |course_form| %>
    <div class="text-left">
      <h4>コース名</h4>
      <%= course_form.text_field :name %>
    </div>
    <div class="text-left">
      <h4>本文</h4>
      <%= f.text_area :article %>
    </div>
    <div class="text-left">
      <h4>画像</h4>
      <%= f.file_field :image, accept: "image/*" %><!-- acceptで画像だけのファイル投稿 -->
    </div>
    <div class="text-left">
        <%= course_form.select :prefecutures, Course.prefecutures.keys, {} %>
      
    </div>
    <div class="text-center">
      <%= f.submit '投稿', class: "btn btn-success" %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>



