<div class="container">
  <div class="col-md-12">
    <%= form_with model: @post, url:posts_path do |f| %>
    <div class="text-left m-3">
      <h4>コース名</h4>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="text-left m-3">
      <h4>コースの説明</h4>
      <%= f.text_area :article, required: true %>
    </div>
    <div class="text-left m-3">
      <h4>画像</h4>
      <%= f.file_field :image, accept: "image/*", required: true %><!-- acceptで画像だけのファイル投稿 -->
    </div>
    <div class="text-left m-3">
      <h4>コースがある都道府県</h4>
      <%= f.select :prefecutures, { "---":0,
     北海道:1,青森県:2,岩手県:3,宮城県:4,秋田県:5,山形県:6,福島県:7,
     茨城県:8,栃木県:9,群馬県:10,埼玉県:11,千葉県:12,東京都:13,神奈川県:14,
     新潟県:15,富山県:16,石川県:17,福井県:18,山梨県:19,長野県:20,
     岐阜県:21,静岡県:22,愛知県:23,三重県:24,
     滋賀県:25,京都府:26,大阪府:27,兵庫県:28,奈良県:29,和歌山県:30,
     鳥取県:31,島根県:32,岡山県:33,広島県:34,山口県:35,
     徳島県:36,香川県:37,愛媛県:38,高知県:39,
     福岡県:40,佐賀県:41,長崎県:42,熊本県:43,大分県:44,宮崎県:45,鹿児島県:46,
     沖縄県:47
   }, { include_blank: '選択してください'}, required: true %>
    </div>
    <div class="text-left m-3">
      <h5>コースの起伏</h5>
    </div>
    <div class="form-group row m-3 text-center">
      <div class="border border-success  p-3">
        <%= f.label :undulation, '少ない' %>
        <%= f.radio_button :undulation, :few, required: true %>
      </div>
      <div class="border border-success text-center p-3">
        <%= f.label :undulation, 'やや少ない' %>
        <%= f.radio_button :undulation, :little, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :undulation, '普通' %>
        <%= f.radio_button :undulation, :usually, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :undulation, 'やや多い' %>
        <%= f.radio_button :undulation, :lot, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :undulation, '多い' %>
        <%= f.radio_button :undulation, :many, required: true %>
      </div>
    </div>
    <div class="text-left m-3">
      <h5>信号機の量</h5>
    </div>
    <div class="form-group row m-3 text-center">
      <div class="border border-success  p-3">
        <%= f.label :traffic_light, '少ない' %>
        <%= f.radio_button :traffic_light, :few, required: true %>
      </div>
      <div class="border border-success text-center p-3">
        <%= f.label :traffic_light, 'やや少ない' %>
        <%= f.radio_button :traffic_light, :little, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :traffic_light, '普通' %>
        <%= f.radio_button :traffic_light, :usually, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :traffic_light, 'やや多い' %>
        <%= f.radio_button :traffic_light, :lot, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :traffic_light, '多い' %>
        <%= f.radio_button :traffic_light, :many, required: true %>
      </div>
    </div>
    <div class="text-left m-3">
      <h5>街灯の量</h5>
    </div>
    <div class="form-group row m-3 text-center">
      <div class="border border-success  p-3">
        <%= f.label :street_light, '少ない' %>
        <%= f.radio_button :street_light, :few, required: true %>
      </div>
      <div class="border border-success text-center p-3">
        <%= f.label :street_light, 'やや少ない' %>
        <%= f.radio_button :street_light, :little, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :street_light, '普通' %>
        <%= f.radio_button :street_light, :usually, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :street_light, 'やや多い' %>
        <%= f.radio_button :street_light, :lot, required: true %>
      </div>
      <div class="border border-success p-3">
        <%= f.label :street_light, '多い' %>
        <%= f.radio_button :street_light, :many, required: true %>
      </div>
    </div>

    <h2>地図</h2>

<style>
#map {
  height: 720px;
  width: 720px;
}
</style>
 <body>
    <!--The div elements for the map and message -->
    <div id="map"></div>
    <div id="msg"></div>
    <script>
// Initialize and add the map
var map;
  function haversine_distance(mk1, mk2) {
      var R = 6371.0710; // Radius of the Earth in miles
      var rlat1 = mk1.position.lat() * (Math.PI/180);
       // Convert degrees to radians
      var rlat2 = mk2.position.lat() * (Math.PI/180);
       // Convert degrees to radians
      var difflat = rlat2-rlat1; // Radian difference (latitudes)
      var difflon = (mk2.position.lng()-mk1.position.lng())
                  * (Math.PI/180); // Radian difference (longitudes)

      var d = 2 * R
      * Math.asin(Math.sqrt(Math.sin(difflat/2)*Math.sin(difflat/2)
      +Math.cos(rlat1)*Math.cos(rlat2)
      *Math.sin(difflon/2)*Math.sin(difflon/2)));
      return d;
    }

function initMap() {
  // The map, centered on Central Park
  const center = {lat: 35, lng: 135};
  const options = {zoom: 15, scaleControl: true, center: center};
  map = new google.maps.Map(
      document.getElementById('map'), options);
  // Locations of landmarks
  const m1 = {lat: 35, lng: 135};
  const m2 = {lat: 35.002, lng: 135.002};
  // The markers for The Dakota and The Frick Collection
  // doraggable: trueオプションでマーカーを動かせるようにする
  var mk1 = new google.maps.Marker({position: m1, map: map, draggable: true});
  var mk2 = new google.maps.Marker({position: m2, map: map, draggable: true});

  google.maps.event.addListener(mk1, 'dragend', function(e) {
  //イベントの引数eの、プロパティ.latLngがmarkerの緯度経度。
  $('#lat').text('マーカーの緯度' + e.latLng.lat());
  $('#lng').text('マーカーの経度' + e.latLng.lng());
  line.setMap(null);
  line = new google.maps.Polyline({path: [ { lat: e.latLng.lat(), lng: e.latLng.lng()}, { lat: mk2.position.lat(), lng: mk2.position.lng()}], map: map});
  var distance = haversine_distance(mk1, mk2);
  document.getElementById('msg').innerHTML　= "コースの距離: " + distance.toFixed(2) + "km";
 });
  google.maps.event.addListener(mk2, 'dragend', function(e) {
  //イベントの引数eの、プロパティ.latLngがmarkerの緯度経度。
  $('#lat').text('マーカーの緯度' + e.latLng.lat());
  $('#lng').text('マーカーの経度' + e.latLng.lng());
  line.setMap(null);
  line = new google.maps.Polyline({path: [{ lat: mk1.position.lat(), lng: mk1.position.lng()}, { lat: e.latLng.lat(), lng: e.latLng.lng()}], map: map});
  var distance = haversine_distance(mk1, mk2);
  document.getElementById('msg').innerHTML　= "コースの距離: " + distance.toFixed(2) + "km";
 });

    // Draw a line showing the straight distance between the markers
    // 二点間のマーカーの間に線をひき、距離を計算する。
  var line =
      new google.maps.Polyline({path: [m1, m2], map: map});
    var distance = haversine_distance(mk1, mk2);
  document.getElementById('msg').innerHTML
      = "コースの距離: " + distance.toFixed(2) + "km";
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap"></script>

<h5 class="m-3">上記にコースの直線距離が計算されています。</h5>
    <div class="col-md-12">
      <div class="text-left m-5">
        <h4>コースの概算距離を以下に入力してください。</h4>
        <%= f.text_field :distance, required: true %><span>km</span>
      </div>

      <div class="text-center m-3">
        <h3>コースの詳細について以下の情報を任意で入力してください。</h3>
      </div>
      <div class="text-center">
        <div class="text-left">
          <h5>コース路面の種類</h5>
        </div>
        <div class="row form-group">
          <% CourseType.types.each_with_index do |(key, value) , i| %>
          <div class="border border-success p-3 m-2">
            <%= CourseType.types_i18n[key] %>
            <%= check_box_tag "post_form[type][#{i}]", key  %>
          </div>
          <% end %>
        </div>
        <div class="text-left">
          <h5>おすすめの時間帯</h5>
        </div>
        <div class="row form-group">
          <% CourseTimeZone.time_zones.each_with_index do |e, i| %>
          <div class="border border-success p-3 m-2">
            <%= CourseTimeZone.time_zones_i18n[e[0]] %>
            <%= check_box_tag "post_form[method][#{i}]", e[0]  %>
          </div>
          <% end %>
        </div>
        <div class="text-left">
          <h5>付近にある設備</h5>
        </div>
        <div class="row form-group">
          <% CourseEquipment.equipment.each_with_index do |e, i| %>
          <div class="border border-success p-3 m-2">
            <%= CourseEquipment.equipment_i18n[e[0]] %>
            <%= check_box_tag "post_form[equipment][#{i}]", e[0]  %>
          </div>
          <% end %>
        </div>
        <div class="text-left">
          <h5>おすすめの運動の方法</h5>
        </div>
        <div class="row form-group">

          <% CourseMethod.methods.each_with_index do |e, i| %>
          <div class="border border-success p-3 m-2">
            <%= CourseMethod.methods_i18n[e[0]] %>
            <%= check_box_tag "post_form[method][#{i}]", e[0]  %>
          </div>
          <% end %>
        </div>

      </div>
    </div>
    <div class="text-center m-5">
      <%= f.submit '投稿する', class: "btn btn-success" %>
    </div>
    <!--<% end %> form_with-->
  </div>
</div>