<div class="container px-5 px-sm-0">
<div class="col-md-8 offset-md-1">
  <header>
  <h1>投稿一覧</h1>
</header>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>ユーザー名</th>
      <th>コース名</th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= link_to user_path(post.user_id) do %><%= image_tag post.user.get_profile_image(80,80) %><% end %></td>
      <td><%= post.user.name %></td>
      <td><%= link_to post_path(post.id) do %><%= post.course.name %><% end %></td>
      <td><%= post.article %></td>
    </tr>
    <% end %>

  </tbody>

</table>
</div>