<div class="container px-5 px-sm-0">
<div class="col-md-12 offset-md-1">
<div class="text-center my-3">
  <%= render 'layouts/search' %>
</div>
<header>
  <h1>投稿一覧</h1>
</header>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>コースの写真</th>
      <th>ユーザー名</th>
      <th>コース名</th>
      <th>都道府県</th>
      <th>コメント数</th>
      <th>行きたい！数</th>
      <th>行った！数</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= link_to posts_path(post.id) do %><%= image_tag post.get_image(80,80) %><% end %></td>
      <td width="200"><%= link_to user_path(post.user_id) do %><%= post.user.name %><% end %></td>
      <td><%= link_to post_path(post.id) do %><%= post.course.name %><% end %></td>
      <td><%= post.course.prefecutures %></td>
      <td class="text-center"><%= post.post_comments.count %></td>
      <td class="text-center"><%= post.gos.count %></td>
      <td class="text-center"><%= post.gones.count %></td>
    </tr>
    <% end %>

  </tbody>

</table>
<footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto mb-3'>
    		<i class="fa-solid fa-person-running fa-2x run"></i>
    	</div>
    </div>
  </div>
</footer>
</div>