<h2 class="text-center p-3">ユーザープロフィール編集画面</h2>
<!--ゲストユーザーは編集画面にいけない-->
<% if @user.email == 'guestda@example.com'%>
  <p>ゲストユーザーはユーザー情報の編集ができません。</p>
<% else %>
<%= form_with model: @user, url:user_path, method: :patch do |f| %>
<div class="container">
    <table class="table">
  <thead>
    <tr>
      <th><h2>項目</h2></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ニックネーム</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th scope="row">プロフィール画像</th>
      <td><%= image_tag @user.get_profile_image(80,80) %></td>
      <td><%= f.file_field :profile_image, accept: "image/*" %></td>
    </tr>
    <tr>
      <th scope="row">性別</th>
      <td> <%= f.label :sex, "性別" %><br />
          <%= f.select :sex, User.sexes_i18n.invert, { include_blank: "選択してください" } %></td>
    </tr>
    <tr>
      <th scope="row">年齢</th>
      <td colspan="2"><%= f.text_field :age %>歳</td>
    </tr>
    <tr>
      <th scope="row">自己紹介</th>
      <td height="300"><%= f.text_area :introduction,size:"50x20" %></td>
    </tr>
  </tbody>
</table>
    <div class="container row mb-5">
      <%= link_to "戻る", user_path(@user), class: "btn btn-primary" %>
      <div class=mx-auto>
        <%= f.submit "更新する", class: "btn btn-success" %>
      </div>

    </div>
</div>
<% end %>
<% end %>